body {
    font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Vollkorn', serif;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.sidenav {
    position: fixed;
    right: 0px;
    top: 0px;
}

.btn {
    border-radius: 0;
}

.dropdown-menu {
    border-radius: 0;
    box-shadow: 0;
    -webkit-box-shadow: 0;
}

.section-header {
    padding: 1em;
    text-align: center;
    background-color: transparent;
    border-bottom: 1px solid #DDDDDD;
    cursor: pointer;
}

.section-content {
    display: none;
    padding-top: 0.5em;
}
