<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Chris Lansing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Chris Lansing's Personal Website">
    <meta name="keywords" content="Chris Lansing,cslansing,Lansing,clansing">
    <meta name="author" content="Chris Lansing">

    <!-- External Styles -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}cslansing.css" rel="stylesheet">

    <!-- Favicon -->
    <link href="{{ STATIC_URL }}cslfavicon.ico" rel="shortcut icon">

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-38866448-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>

  <body>

  <!-- Side Nav Button -->
    <div class="btn-group sidenav">
      <button type="button" id="sidenav-button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <i class="icon-double-angle-down"></i>
      </button>
      <ul class="dropdown-menu pull-right" role="menu">
        <li><a href="#about-header">About</a></li>
        <li><a href="#blog-header">Blog</a></li>
        <li><a href="#projects-header">Projects</a></li>
      </ul>
    </div>

    <div class="container">
      <div class="jumbotron">
        <h1>Chris Lansing</h1>
        <p>
          <a href="https://www.facebook.com/chris.lansing.98" target="_blank">
            <i class="icon-facebook"></i> Facebook
          </a>
          |
          <a href="https://plus.google.com/u/0/107904017027887656465/posts" target="_blank">
            <i class="icon-google-plus"></i> Google+
          </a>
          |
          <a href="https://github.com/cslansing" target="_blank">
            <i class="icon-github"></i> Github
          </a>
          |
          <a href="https://www.linkedin.com/profile/view?id=205579495" target="_blank">
            <i class="icon-linkedin"></i> LinkedIn
          </a>
          <br />
          <a href="{{ STATIC_URL }}Resume.pdf" target="_blank">
            <i class="icon-file-text"></i> Resume</a>
        </p>
      </div><!-- .jumbotron -->

      <!-- About -->
      <div id="about-header" class="row section-header">
        <h3>About <i class="icon-angle-down"></i></h3>
      </div>
      <div id="about" class ="row section-content">
        {% block about %}
        {% endblock about %}
      </div>

      <!-- Blog -->
      <div id="blog-header" class="row section-header">
        <h3>Blog <i class="icon-angle-down"></i></h3>
      </div>
      <div id="blog" class="row section-content">
          {% block blog %}
          {% endblock blog %}
      </div>

      <!-- Projects -->
      <div id="projects-header" class="row section-header">
        <h3>Projects <i class="icon-angle-down"></i></h3>
      </div>
      <div id="projects" class="row section-content">
        {% block projects %}
        {% endblock projects %}
      </div>

    </div><!-- .container -->
     <!-- Javascript at the bottom for faster page loads -->
    <script src="{{ STATIC_URL }}jquery/jquery-1.10.2.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}cslansing.js"></script>
    {% block scripts %}{% endblock scripts %}
  </body>
</html>
