<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Chris Lansing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <meta name="description" content="Chris Lansing's Personal Website">
    <meta name="keywords" content="Chris Lansing,cslansing,Lansing,clansing">
    <meta name="author" content="Chris Lansing">

    <!-- External Styles -->
    <link href="{{ STATIC_URL }}css/normalize.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/unsemantic-grid-responsive-tablet.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}font/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/cslansing.css" rel="stylesheet">

    <!-- Favicon -->
    <link href="{{ STATIC_URL }}img/cslfavicon.ico" rel="shortcut icon">

    <!-- Google Analytics -->
    <!-- Temporarily removed -->

  </head>

  <body>

    <div>
      <div class="jumbotron">
        <h1>Chris Lansing</h1>
        <p>
          <a href="https://www.facebook.com/chris.lansing.98" target="_blank">
            <i class="icon-facebook"></i> Facebook
          </a>
          |
          <a href="https://plus.google.com/u/0/107904017027887656465/posts" target="_blank">
            <i class="icon-google-plus"></i> Google+
          </a>
          |
          <a href="https://github.com/cslansing" target="_blank">
            <i class="icon-github"></i> Github
          </a>
          |
          <a href="https://www.linkedin.com/profile/view?id=205579495" target="_blank">
            <i class="icon-linkedin"></i> LinkedIn
          </a>
          <br />
          <a href="{{ STATIC_URL }}doc/Resume.pdf" target="_blank">
            <i class="icon-file-text"></i> Resume</a>
        </p>
      </div><!-- .jumbotron -->

      <!-- About -->
      <div id="about-header" class="section-header">
        <h3>About <i class="icon-angle-down"></i></h3>
      </div>
      <div id="about" class ="section-content">
        {% block about %}
        {% endblock about %}
      </div>

      <!-- Blog -->
      <div id="blog-header" class="section-header">
        <h3>Blog <i class="icon-angle-down"></i></h3>
      </div>
      <div id="blog" class="section-content">
          {% block blog %}
          {% endblock blog %}
      </div>

      <!-- Projects -->
      <div id="projects-header" class="section-header">
        <h3>Projects <i class="icon-angle-down"></i></h3>
      </div>
      <div id="projects" class="section-content">
        {% block projects %}
        {% endblock projects %}
      </div>

    </div>
     <!-- Javascript at the bottom for faster page loads -->
    <script src="{{ STATIC_URL }}js/jquery/jquery-1.10.2.min.js"></script>
    <script src="{{ STATIC_URL }}js/cslansing.js"></script>
    {% block scripts %}{% endblock scripts %}
  </body>
</html>
