<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Chris Lansing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Chris Lansing's Personal Website">
    <meta name="keywords" content="Chris Lansing,cslansing,Lansing,clansing">
    <meta name="author" content="Chris Lansing">

    <!-- External Styles -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link href="{{ STATIC_URL }}cslansing.css" rel="stylesheet">

    <!-- Favicon -->
    <link href="{{ STATIC_URL }}cslfavicon.ico" rel="shortcut icon">

    <!-- Google Analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      var pluginUrl ='//www.google-analytics.com/plugins/ga/inpage_linkid.js';
      _gaq.push(['_require', 'inpage_linkid',
      pluginUrl]);
      _gaq.push(['_setAccount', 'UA-38866448-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </head>

  <body>

  <!-- Side Nav Button -->
    <div class="btn-group sidenav">
      <button type="button" id="sidenav-button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <i class="icon-double-angle-down"></i>
      </button>
      <ul class="dropdown-menu pull-right" role="menu">
        <li><a href="#about">About Me</a></li>
        <li><a href="#blog">Blog</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#resume">Resume</a></li>
      </ul>
    </div>

    <div class="container">
      <div class="jumbotron">
        <h1>Chris Lansing</h1>
        <p>
          <a href="https://www.facebook.com/chris.lansing.98">
            <i class="icon-facebook"></i> Facebook
          </a>
          |
          <a href="https://twitter.com/cslansing">
            <i class="icon-twitter"></i> Twitter
          </a>
          |
          <a href="https://plus.google.com/u/0/107904017027887656465/posts">
            <i class="icon-google-plus"></i> Google+
          </a>
          |
          <a href="https://github.com/cslansing">
            <i class="icon-github"></i> Github
          </a>
          |
          <a href="https://www.linkedin.com/profile/view?id=205579495">
            <i class="icon-linkedin"></i> LinkedIn
          </a>
        </p>
      </div><!-- .jumbotron -->

      <!-- About -->
      <div id="about" class="row section-header">
        <h3>About Me <i class="icon-chevron-down"></i></h3>
      </div>
      <div id="about-content" class ="row section-content">
        {% block about %}
        {% endblock about %}
      </div>

      <!-- Blog -->
      <div id="blog" class="row section-header">
        <h3>Blog <i class="icon-chevron-down"></i></h3>
      </div>
      <div id="blog-content" class="row section-content">
          {% block blog %}
          {% endblock blog %}
      </div>

      <!-- Projects -->
      <div id="projects" class="row section-header">
        <h3>Projects <i class="icon-chevron-down"></i></h3>
      </div>
      <div id="projects-content" class="row section-content">
        {% block projects %}
        {% endblock projects %}
      </div>

      <!-- Resume -->
      <div id="resume" class="row section-header">
        <h3>Resume <i class="icon-chevron-down"></i></h3>
      </div>
      <div id="resume-content" class ="row section-content">
        {% block resume %}
        {% endblock resume %}
      </div>

    </div><!-- .container -->
     <!-- Javascript at the bottom for faster page loads -->
    <script src="{{ STATIC_URL }}jquery/jquery-1.10.2.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}cslansing.js"></script>
    {% block scripts %}{% endblock scripts %}
  </body>
</html>
