{% extends 'base.html' %}

{% block about %}
<div class="grid-50">
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>
<div class="grid-50">
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>
{% endblock about %}

{% block blog %}
{% include 'blog.html' %}
{% endblock blog %}

{% block projects %}
{% include 'attendance.html' %}
<div id="chem-project" class="grid-100">
  <div><strong>Organic Chemistry Alkane Nomenclature Solver</strong></div>
  <div>
    <p>
      Created Python desktop application to allow users to draw alkane molecules by placing individual carbon atoms in a GUI. The IUPAC nomenclature for the molecule is then derived by recursively iterating over the molecule to obtain necessary structural information such as the location of the longest straight carbon chain and the frequency, position, and length of all substituent groups.
    </p>
  </div>
</div>
{% endblock projects %}
