<div id="blog-content" class="grid-100">
    {% for post in posts %}
    <div>
        <h1>{{ post.title }} <small>{{ post.created }}</small></h1>
    </div>
    {{ post.body|linebreaks }}
    {% endfor %}
    <div>
        <p>Blog {{ posts.number }} of {{ posts.paginator.num_pages }}</p>
        {% if posts.has_previous %}
        <button id="blogs-prev" onclick="changePage('blog', 'blog-content', {{ posts.previous_page_number }})">Prev</button>
        {% endif %}
        {% if posts.has_next %}
        <button id="blogs-next" onclick="changePage('blog', 'blog-content', {{ posts.next_page_number}})">Next</button>
        {% endif %}
    </div>
</div>
